{%- liquid

  assign display_map = false
  assign onboarding = false
  assign bg_image = section.settings.bg_img

  if section.settings.map_api == blank and bg_image == blank
    assign onboarding = true
  endif
  if section.settings.map_api != blank and section.settings.map_address
    assign display_map = true
  endif

-%}

{{ 'component-map.css' | asset_url | stylesheet_tag }}

<div class="site-box-container container--fullscreen box--can-stick remove-sticky-border map-site-box">

  <div class="site-box box--big lap--box--small-fl-auto box--typo-big box--center-align box--top-align-if-first box--column-flow box__heading" data-order="0">
    <div class="site-box-content reduce-top-margin-if-first">
      <div class="map-info">
        {% for block in section.blocks %}
          {% if block.type == 'heading' %}
            <h1 class="title h1">{{ block.settings.heading }}</h1>
          {% elsif block.type == 'info' %}
            <div class="map-info-item">
              <span class="map-info-title">{{ block.settings.heading }}</span>
              <div class="map-info-rte">{{ block.settings.info }}</div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="site-box box--big lap--box--bigger box--typo-big box--center-align box--column-flow box--no-padding" data-order="1" style="border:none">
    <div class="site-box-content remove-first-border">
      {%- if display_map -%}

        <contact-map class="contact-map-holder" 
          data-key="{{ section.settings.map_api | escape }}" aria-hidden="true"
        >
          <div class="contact-map-object" 
            id="contact-map-{{ section.id }}"
            data-address="{{ section.settings.map_address | escape }}" 
            data-marker="{% if section.settings.map_marker %}{{ section.settings.map_marker | image_url: width: 240 }}{% else %}{% if section.settings.map_style == 'light' %}{{ 'img_marker-dark.png' | asset_url }}{% else %}{{ 'img_marker-light.png' | asset_url }}{% endif %}{% endif %}" 
            data-style="{{ section.settings.map_style }}" data-zoom="16"
          ></div>
  
          <div class="contact-map-address-holder hide" data-aria="hidden">
            <div class="contact-map-address" style="padding:6px">
              <p class="text-size--larger" style="margin-bottom:.5em">{{ section.settings.map_address | escape }}</p>
              <a target="_blank" style="border-bottom:1px solid">{{ 'general.contact_form.map.google_maps_link' | t }}</a>
            </div>
          </div>
  
        </contact-map>
  
        <script src="{{ 'component-map.js' | asset_url }}" defer></script>
  
      {%- else -%}
  
        <span class="site-box-background" aria-hidden="true">
          {%- if onboarding -%}
            <span class="onboarding-svg">{{ 'lifestyle-1' | placeholder_svg_tag }}</span>
          {%- else -%}
            {%- render 'lazy-image', image: bg_image, id: section.id, sizes: '(max-width: 1024px) and (orientation: portrait) max(100vw, 60vh), (max-width: 768px) max(100vw, 60vh), max(50vw, 100vh)' -%}
          {%- endif -%}
        </span> 
  
      {%- endif -%}
    </div>
  </div>
  
</div>

{% schema %}
  {
    "name": "t:sections.split-extra-words.sections.map.name",
    "class": "mount-map",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.split-extra-words.sections.map.name"
      },
      {
        "type": "text",
        "id": "map_address",
        "label": "t:sections.split-extra-words.sections.map.settings.map.address",
        "default": "Vancouver, Canada"
      },
      {
        "type": "text",
        "id": "map_api",
        "label": "t:sections.split-extra-words.sections.map.settings.map.api.label",
        "info": "t:sections.split-extra-words.sections.map.settings.map.api.info"
      },
      {
        "type": "image_picker",
        "id": "bg_img",
        "label": "t:sections.split-extra-words.sections.map.settings.map.image.label",
        "info": "t:sections.split-extra-words.sections.map.settings.map.image.info"
      },
      {
        "type": "radio",
        "id": "map_style",
        "label": "t:sections.split-extra-words.sections.map.settings.map.style.label",
        "options": [
          {
            "value": "light",
            "label": "t:sections.split-extra-words.sections.map.settings.map.style.options__1"
          },
          {
            "value": "dark",
            "label": "t:sections.split-extra-words.sections.map.settings.map.style.options__2"
          }
        ],
        "default": "light"
      },
      {
        "type": "image_picker",
        "id": "map_marker",
        "label": "t:sections.split-extra-words.sections.map.settings.map.marker.label",
        "info": "t:sections.split-extra-words.sections.map.settings.map.marker.info"
      },
      {
        "type": "header",
        "content": "t:sections.refactor_words.seo.name"
      },
      {
        "type": "select",
        "id": "seo_h_tag",
        "label": "t:sections.refactor_words.seo.label",
        "info": "t:sections.refactor_words.seo.info",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "span",
            "label": "span"
          }
        ],
        "default": "h3"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }
        ]
      },
      {
        "type": "info",
        "name": "Info",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "info",
            "label": "Text"
          }
        ]
      },
      {
        "type": "@app"
      }
    ],
    "presets": [{
      "name": "Map",
      "category": "Store information"
    }],
		"disabled_on": {
			"groups": ["custom.overlay", "header"]
		}
  }
{% endschema %}